<div class='headerInfoContainer'>
    <div class='headerInfoItem'>
        <img src='/assets/icons/header-info/view-gray.svg' alt='header info icon' />
        Тест и преглед преди плащане
    </div>

    <div class='headerInfoItem'>
        <img src='/assets/icons/header-info/check-gray.svg' alt='header info icon' />
        Всички стоки са налични
    </div>

    <div class='headerInfoItem'>
        <img src='/assets/icons/header-info/delivery-gray.svg' alt='header info icon' />
        Безплатна доставка над 100лв.
    </div>

    <div class='headerInfoItem'>
        <img src='/assets/icons/header-info/return-gray.svg' alt='header info icon' />
        30 дни безплатно връщане
    </div>
</div>