<div class='newsContainer'>
    <div class='newsCards'>
        <h2>Последни новини</h2>
        <div class='newsCardsRow'>
           <a href='/url' class='newsCard'>
                <img class='starReview' src='/assets/images/latest-news/imageOne.jpg' alt='star review' />
                <h3>Какво е Nike Air технологията?</h3>
                <p>16.03.2021</p>
            </a>

           <a href='/url' class='newsCard'>
                <img class='starReview' src='/assets/images/latest-news/imageTwo.jpg' alt='star review' />
                <h3>Какво е Nike Air технологията?</h3>
                <p>16.03.2021</p>
            </a>

           <a href='/url' class='newsCard'>
                <img class='starReview' src='/assets/images/latest-news/imageThree.jpg' alt='star review' />
                <h3>Какво е Nike Air технологията?</h3>
                <p>16.03.2021</p>
            </a>
        </div>
        <a href='/url' class='newsBigLink'>Виж всички</a>
    </div>
</div>