<footer>
    <div class='footerContainer'>
        <div class='footerTopInfo'>
            <div class='footerTopInfoColumn'>
                <h3>Категории</h3>
                <div>
                    <a href='/url'>Мъжки</a>
                    <a href='/url'>Дамски</a>
                    <a href='/url'>Детски</a>
                    <a href='/url'>Разпродажба</a>
                </div>
            </div>

            <div class='footerTopInfoColumn'>
                <h3>Клиентски услуги</h3>
                <div>
                    <a href='/url'>За нас</a>
                    <a href='/url'>Контакти</a>
                    <a href='/url'>Доставка и плащане</a>
                    <a href='/url'>Как да изберете правилния размер</a>
                    <a href='/url'>Съвети за поддръжка на Вашите маратонки</a>
                    <a href='/url'>Замяна или връщане</a>
                </div>
            </div>

            <div class='footerTopInfoColumn'>
                <h3></h3>
                <div>
                    <a href='/url'>Блог</a>
                    <a href='/url'>Стани наш лоялен клиент</a>
                    <a href='/url'>Често задавани въпроси</a>
                    <a href='/url'>Условия за ползване</a>
                    <a href='/url'>Политика за поверителност и бисквитки</a>
                </div>
            </div>

            <div class='footerTopInfoColumn'>
                <h3>Ел. Бюлетин</h3>
                <div>
                    Грабни 5% отстъпка за първата си поръчка и научавай първи за нови продукти и промоции.
                    Запиши се от тук сега!

                    <form action='/action_page.php'>
                        <input type='text' id='search' name='search' placeholder='Имейл' />
                        <button type='submit'>ИЗПРАТИ</button>
                    </form>
                </div>
                <h3>Последвайте ни</h3>
                <div class='socialMediaContainer'>
                    <a href='https://www.facebook.com/ShopSector/' target='_blank'><img class='icon-social' src="/assets/icons/footer-socials/facebook-black.svg" alt='social media icon' /></a>
                    <a href='https://www.pinterest.com/shopsector/' target='_blank'><img class='icon-social' src="/assets/icons/footer-socials/pinterest-black.svg" alt='social media icon' /></a>
                    <a href='https://twitter.com/ShopSector' target='_blank'><img class='icon-social' src="/assets/icons/footer-socials/twitter-black.svg" alt='social media icon' /></a>
                    <a href='https://www.instagram.com/shopsector.com_official/' target='_blank'><img class='icon-social' src="/assets/icons/footer-socials/instagram-black.svg" alt='social media icon' /></a>
                    <a href='https://plus.google.com/+Shopsector' target='_blank'><img class='icon-social' src="/assets/icons/footer-socials/google-black.svg" alt='social media icon' /></a>
                </div>
            </div>
        </div>

        <div class='footerBottomInfo'>
            <div class='footerBottomLeft'>
                Обявените цени са в Български лева (BGN). Всички права запазени 2021 © 
            </div>

            <div class='footerBottomRight'>
                <a href='https://www.velizarstavrev.dev' target='_blank' rel='noopener noreferrer'>
                    Онлайн магазин от Velizar Stavrev.
                </a>
            </div>
        </div>
    </div>
</footer>