<main>
    <div class='homeContainer'>
        <p class='homeSmallText'>Онлайн магазин за оригинални маратонки ShopSector.com! Купи сега <a href='/url'>мъжки маратонки</a>, <a href='/url'>дамски маратонки</a> и <a href='/url'>детски маратонки</a> с големи намаления.</p>
        <a href='/url'><img src='/assets/images/home/campaign.jpg' alt='campaign' /></a>
        <div class='deliveryContainer'>
            <div class='deliveryItem'>
                <img src='/assets/icons/home-icons/view-gray.svg' alt='delivery info icon' />
                Тест и преглед преди плащане
            </div>

            <div class='deliveryItem'>
                <img src='/assets/icons/home-icons/check-gray.svg' alt='delivery info icon' />
                Всички стоки са налични
            </div>

            <div class='deliveryItem'>
                <img src='/assets/icons/home-icons/delivery-gray.svg' alt='delivery info icon' />
                Безплатна доставка над 100лв.
            </div>

            <div class='deliveryItem'>
                <img src='/assets/icons/home-icons/return-gray.svg' alt='delivery info icon' />
                30 дни безплатно връщане
            </div>
        </div>
        <div class='promotionsContainer'>
            <div class='discountContainer'>
                <img src='/assets/images/home/discount.jpg' alt='discount' />
                <form action='/action_page.php'>
                    <div class='deliverySubContainer'>
                        <input type='text' name='subscribe' placeholder='Остави имейл' />
                        <button type='submit'>ИЗПРАТИ</button>
                    </div>
                    <label htmlFor="subscribe">* На посочения имейл ще изпратим промо код </label>
                </form>
            </div>
            <a href='url'><img src='/assets/images/home/vip.jpg' alt='vip' /></a>
        </div>

        <app-new-offers style='width: 90%;' name="Мъжки обувки" type="male"></app-new-offers>

        <app-new-offers style='width: 90%;' name="Дамски обувки" type="female"></app-new-offers>

        <app-new-offers style='width: 90%;' name="Детски обувки" type="kid"></app-new-offers>

        <app-new-offers style='width: 90%;' name="Разпродажба" type="sale"></app-new-offers>

        <app-brands style='width: 90%;'></app-brands>

        <app-testimonials-showcase style='width: 90%;'></app-testimonials-showcase>

        <app-latest-news style='width: 90%;'></app-latest-news>

        <div class='homeFinalDesc'>
            <p class='homeSmallText'>ShopSector.com е онлайн магазин за оригинални маратонки и други спортни обувки на най-популярните световни марки - Puma. Adidas, Reebok, Asics, Nike и др.</p>
            <p class='homeSmallText'>При нас ще откриете огромно разнообразие от мъжки, дамски и детски оригинални маратонки за спорт и ежедневни нужди. Обогатяваме асортимента си непрестанно, така че независимо дали търсите иновативни модели или по-традиционни, имаме от всичко - от леки и здрави модели за бягане, през удобни и практични маратонки за разходка, до най-екстравагантните спортни изкушения за вашите ходила.</p>
            <p class='homeSmallText'>Всеки модел, който предлагаме е подбран според критериите ни за високо качество на материалите, красив външен вид и производствена технология за постигане на перфектен комфорт при носене. Покупката на маратонки онлайн е инвестиция не само в имидж, но и в здраве. В ShopSector вярваме, че поръчката на спортни обувки е много лесна когато са налице всички положителни параметри на “перфектните маратонки”, и че всеки чифт трябва да отговаря на изискванията на клиентите за здравина, визия и удобство.</p>
            <p class='homeSmallText'>Мисията на екипа на ShopSector е да предлага атрактивни маратонки на конкурентни цени, като спазва принципите за безупречно обслужване и гарантира бърза доставка до всяка точка на България. Комбинацията от продукти с доказан произход, възможността за лесна поръчка и професионалното отношение на нашите експерти е отлична предпоставка за изпълнението на нашата цел номер 1 - доволни клиенти.</p>
            <p class='homeSmallText'> Потопете се в изобилието от оригинални маратонки за всякаква спортна дейност - бягане, тенис, фитнес, футбол или просто за разходки сред природата в парка или планината. Ние от ShopSector.com гарантираме, че ще предлагаме най-страхотните модели ТОП марки на супер цени и да ви ги доставим по максимално най-бързия начин.</p>
        </div>
    </div>
</main>