<header>
    <div class='topInfo'>
        <div class='topInfoContainer'>
            <div class='topInfoLeft'>
                <p>
                    Оригинални маратонки и кецове
                </p>
                <a class='iconHolder' routerLink='/opinions'>
                    <img class='icon-top' src='/assets/icons/header-top_info/star-gray_empty.svg' alt='top info icon' />
                    Мнения от клиенти
                </a>
            </div>

            <div class='topInfoRight'>
                <div class='iconHolder'>
                    <img class='icon-top' src='/assets/icons/header-top_info/email-gray.svg' alt='top info icon' />
                    contact@shopsector.com
                </div>
                <div class='iconHolder'>
                    <img class='icon-top' src='/assets/icons/header-top_info/skype-gray.svg' alt='top info icon' />
                    shopsector.com
                </div>
                <div class='iconHolder'>
                    <img class='icon-top' src='/assets/icons/header-top_info/phone-gray.svg' alt='top info icon' />
                    0895 12 16 16
                </div>
            </div>
        </div>
    </div>

    <div class='bottomInfo'>
        <div class='logoDiv'>
            <img src='/assets/logo.svg' alt='logo' />
            <div class='logoText'>
                <p>Само</p>
                <p>Оригинални</p>
                <p>Стоки</p>
            </div>
        </div>

        <form action='/action_page.php'>
            <input type='text' id='search' name='search' placeholder='Търсене...' />
            <img class='icon-bottom' src='/assets/icons/header-user/search-black.svg' alt='top info icon' />
        </form> 

        <div class='userIcons'>
            <a routerLink='{{profileLink}}' class='iconHolder'>
                <img class='icon-bottom' src='/assets/icons/header-user/user-black.svg' alt='top info icon' />
                {{profileText}}
            </a>
            <a routerLink='/favorites' class='iconHolder'>
                <img class='icon-bottom' src='/assets/icons/header-user/star-black_empty.svg' alt='top info icon' />
                ЛЮБИМИ
            </a>
            <a routerLink='/cart' class='iconHolder'>
                <img class='icon-bottom' src='/assets/icons/header-user/cart-black.svg' alt='top info icon' />
                КОЛИЧКА
            </a>
            <a routerLink='/cart' class='iconHolder'>
                {{cartCount}} бр. / {{cartTotal}}лв.
            </a>
        </div>
    </div>

    <nav>
        <a routerLink='/' class='navLink' routerLinkActive='navLinkActive' [routerLinkActiveOptions]='{ exact: true }'>НАЧАЛО</a>
        <a routerLink='/products/male' class='navLink' routerLinkActive='navLinkActive'>МЪЖКИ</a>
        <a routerLink='/products/female' class='navLink' routerLinkActive='navLinkActive'>ДАМСКИ</a>
        <a routerLink='/products/kid' class='navLink' routerLinkActive='navLinkActive'>ДЕТСКИ</a>
        <a routerLink='/products/sale' class='navLink navLinkSale' routerLinkActive='navLinkActive'>РАЗПРОДАЖБА</a>
    </nav>
</header>