<div class='testimonialsContainer'>
    <div class='testimonialsCard'>
        <h2>Мнения от клиенти на ShopSector.com</h2>
        <div class='testimonialsInfo'>
            <h3>Петър Стоянов</h3>
            <p>25.03.2021 19:34:38</p>
            <p>Бързи и точни</p>
            <p>
                <img class='starReview' src='/assets/icons/testimonials-showcase/star-yellow_filled.svg' alt='star review' />
                <img class='starReview' src='/assets/icons/testimonials-showcase/star-yellow_filled.svg' alt='star review' />
                <img class='starReview' src='/assets/icons/testimonials-showcase/star-yellow_filled.svg' alt='star review' />
                <img class='starReview' src='/assets/icons/testimonials-showcase/star-yellow_filled.svg' alt='star review' />
                <img class='starReview' src='/assets/icons/testimonials-showcase/star-yellow_filled.svg' alt='star review' />
                ( Оценка: 5 от 5 )
            </p>
        </div>
        <a href='/url' class='testimonialsBigLink'>НАПИШИ КОМЕНТАР</a>
        <a href='/url' class='testimonialsSmallLink'>Виж всички</a>
    </div>

    <div class='testimonialsArrowContainer testimonialsArrowLeft'>
        <div class='testimonialsArrow'>
            <img src='/assets/icons/testimonials-showcase/arrow-black_left.svg' alt='arrow left' />
        </div>
    </div>
    
    <div class='testimonialsArrowContainer testimonialsArrowRight'>
        <div class='testimonialsArrow'>
            <img src='/assets/icons/testimonials-showcase/arrow-black_right.svg' alt='arrow right' />
        </div>
    </div>
</div>